{% extends "base.html" %}

{% block rightSide %}

		<!-- 右边 -->
		<div id="rightSide">
	<div id="rightTop">
		<a href="#">
			<span class="icon-img fui-mail"></span>&nbsp;&nbsp;{{title}}
		</a>
		<span class="fui-arrow-right"></span>&nbsp;&nbsp;{{title}}列表
	</div>

	<div id="rightContent" style="width:100%">
			<table style="width:100%;text-align:center;">
				<thead>
			<tr>
			<th style="text-align:center;">{{title}}人姓名</th>
			<th style="text-align:center;">电话</th>
			<th style="text-align:center;">下单时间</th>
			<th style="text-align:center;">是否完成</th>
			<th style="text-align:center;">操作</th>
			 </tr>
		      </thead>
		  <tbody>
		<!-- 最好12条数据 -->
		{% for user in namelist %}
		<tr>
			<td>{{user.name}}</td>
			<td>{{user.phone}}</td>
			<td>{{user.time}}</td>
			<td>{{user.end_flag}}</td>
			<td>
				<a href="{%url "showSender" user.id %}"><img src="/static/images/index/icn_search.png" alt="{{title}}详情" title="{{title}}详情"/></a>
				<a href="javascript:if(confirm('确定订单是否完成？'))location='{%url "modifySend" user.id %}'"><img src="/static/images/index/icn_edit.png" alt="修改状态" title="修改状态"/></a>
				<a id ="myDelete" href="javascript:if(confirm('确定删除?'))location='{%url "deleteSender" user.id %}'"><img  src="/static/images/index/icn_trash.png" alt="删除" title="删除" /></a>
				<!-- <a id ="myDelete" href="{%url "deleteSender" user.id %}" Onclick="delete_confirm"> <img  src="/static/images/index/icn_trash.png" alt="删除" title="删除" /></a>
			</td> -->
		</tr>
		{%endfor%}	

	</a>

	</div>
	<!-- 分页 -->

	  
              
            <p>
                 {% for p in page_range %}
                 {% ifequal p res_list.number %}
                   <span id="current">{{p}}</span>
                  {% else %}
                  <a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
                  {% endifequal %}  
                  {%endfor%}
            </p>
{% endblock %}