{% extends "base.html" %}

{% block rightSide %}
<!-- 右边 -->
<div id="rightSide">
	<div id="rightTop">
		<a href="#">
			<span class="icon-img fui-mail"></span>&nbsp;&nbsp;{{title}}
		</a>
		<span class="fui-arrow-right"></span>&nbsp;&nbsp;{{title}}订单详情
	</div>
	<div id="rightContent">
		
		<table style="width:80%">
		<tr>
			<td>{{title}}人姓名</td>
			<td>{{info.name}}</td>
		</tr>

        <tr>
			<td>电话</td>
			<td>{{info.phone}}</td>
		</tr>

		<tr>
			<td>取件地址</td>
			<td>{{info.fetch_addr}}</td>
		</tr>
		<tr>
			<td>送件地址</td>
			<td>{{info.send_addr}}</td>
		</tr>
        <tr>
			<td>备注</td>
			<td>{{info.description}}</td>
		</tr>
		<tr>
			<td>下单时间</td>
			<td>{{info.datetime}}</td>
		</tr>
		<tr>
			<td>是否完成</td>
			<td>{{info.end_flag}}</td>
		</tr>

	

</div>
{% endblock %}